In [39]:
import pandas as pd
df = pd.read_csv('../csv/expense_details.csv')

In [40]:
df

,id,Expense_id,Expense_particular,Party,Total_amount,Paid_amount,Due_amount,Payment_date,Created_at,Updated_at
0,2,1,Fuel,Total Energies,0.00,0.00,0,2022-03-01,2022-02-20 06:46:30,NaN
1,3,2,Web Domain Charge,Hostgator,2037.00,2037.00,0,2022-02-28,2022-03-01 11:35:36,NaN
2,4,2,Outlet WiFi,Kemnet,2500.00,2500.00,0,2022-02-21,2022-03-01 11:36:43,NaN
3,5,2,Domain Registration and Web Hosting,Hostgator,5090.48,5090.48,0,2022-02-02,2022-03-02 08:31:56,NaN
4,6,4,Butcher Salary,Morris,3000.00,3000.00,0,2022-03-03,2022-03-03 13:03:55,NaN
...,...,...,...,...,...,...,...,...,...,...
3157,3337,2,stretch wrap,Kitengela Kichinjio,1900.00,1900.00,0,2023-06-03,2023-06-03 10:01:12,NaN
3158,3338,5,Tomatoes purchase,Huho Farm,2500.00,2500.00,0,2023-06-03,2023-06-03 10:09:36,NaN
3159,3339,2,packangings,mlolongo,600.00,600.00,0,2023-06-03,2023-06-03 13:17:35,NaN
3160,3340,2,bucket,Kitengela Kichinjio,200.00,200.00,0,2023-06-03,2023-06-03 13:19:59,NaN
3161,3341,2,Gloves purchase,foodplus,119.00,119.00,0,2023-06-03,2023-06-03 13:20:55,NaN

In [41]:
df = df.rename(columns={'Expense_id': 'expense_category_id', 
                        'Expense_particular': 'expense_description', 
                        'Party': 'party',
                        'Total_amount': 'total_owed_amount',
                        'Paid_amount': 'total_paid_amount',
                        'Payment_date': 'expense_date'})

In [42]:
headers = list(df.columns)
headers

['id',
 'expense_category_id',
 'expense_description',
 'party',
 'total_owed_amount',
 'total_paid_amount',
 'Due_amount',
 'expense_date',
 'Created_at',
 'Updated_at']

In [43]:
headers = list(df.columns)
headers.remove('Created_at')
headers.remove('Updated_at')
headers.remove('id')
headers.remove('Due_amount')
headers

['expense_category_id',
 'expense_description',
 'party',
 'total_owed_amount',
 'total_paid_amount',
 'expense_date']

In [37]:
for i, row in df.head(5).iterrows():
  values = {header: row[header] for header in headers}
  print(values)

{'expense_category_id': 1, 'expense_description': 'Fuel', 'party': 'Total Energies', 'total_owed_amount': 0.0, 'total_paid_amount': 0.0, 'expense_date': '2022-03-01'}
{'expense_category_id': 2, 'expense_description': 'Web Domain Charge', 'party': 'Hostgator', 'total_owed_amount': 2037.0, 'total_paid_amount': 2037.0, 'expense_date': '2022-02-28'}
{'expense_category_id': 2, 'expense_description': 'Outlet WiFi', 'party': 'Kemnet', 'total_owed_amount': 2500.0, 'total_paid_amount': 2500.0, 'expense_date': '2022-02-21'}
{'expense_category_id': 2, 'expense_description': 'Domain Registration and Web Hosting', 'party': 'Hostgator', 'total_owed_amount': 5090.48, 'total_paid_amount': 5090.48, 'expense_date': '2022-02-02'}
{'expense_category_id': 4, 'expense_description': 'Butcher Salary', 'party': 'Morris', 'total_owed_amount': 3000.0, 'total_paid_amount': 3000.0, 'expense_date': '2022-03-03'}

In [44]:
for i, row in df.iterrows():
  values = {header: row[header] for header in headers}
  with open('../query_scripts/expenses.py', 'a') as fp:
      fp.write('create_expense(**'+str(values)+')\n')